{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/toolkits/protein/preamble/" role="button">{{ i18n "get-started" }}</a>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/about/overview/" role="button">{{ i18n "learn-more" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Data.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Publications</h2>
          <p>Grow trust and expand readership with transparent editorial standards  </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Companies</h2>
          <p>Adopt modern infrastructure for PR excellence and reduced risk</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Organizations</h2>
          <p>Optimize for the impact you promise and avoid common positioning pitfalls</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Governments</h2>
          <p>Formalize communications standards for fairness and accountability</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Influencers</h2>
          <p>Be a better steward of your influence and the world you help create</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Everyone</h2>
          <p>Champion a web that works for all</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Data.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Data.doks.docsVersioning }}{{ site.Data.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
